<h2>{{encabezado}} </h2>

<nav>
  <div class="loguot">
    <form id="formLogout">
      <button type="submit">Logout</button>
    </form>
  </div>
  <div class="user">
    Usuario:{{nick}} <br>
    Roles: {{role}}
  </div>
</nav>


{{#if hayDocs}}
<ul>
  {{#each docs}}
  <li>title: {{this.title}}</li>
  <li>description: {{this.description}}</li>
  <li>price: {{this.price}}</li>
  <li>thumbnail: {{this.thumbnail}}</li>
  <li>stock: {{this.stock}}</li>
  <li>code: {{this.code}}</li>
  <li>category: {{this.category}}</li>
  <li>status: {{this.status}}</li>
  <br>
  {{/each}}
</ul>
{{else}}
array vacio...
{{/if}}

<a {{#if hasPrevPage}} href="/api/products/?limit={{limit}}&page={{prevPage}}" {{/if}}>Prev</a>
[{{ page }}]
<a {{#if hasNextPage}} href="/api/products/?limit={{limit}}&page={{nextPage}}" {{/if}}>Next</a><br>

<script src="/js/logout.js"></script>