<h2>{{encabezado}} </h2>



{{#if productExist}}
    <ul>
        {{#each product}}
            <li>
                <p>id = {{this.id}}</p>
                <p>title = {{this.title}}</p>
                <p>description = {{this.description}}</p>
                <p>prince = {{this.prince}}</p>
                <p>status = {{this.status}}</p>
                <p>stock = {{this.stock}}</p>
                <p>category = {{this.category}}</p>
                <p>thumbnail = {{this.thumbnail}}</p>
            </li>
        {{/each}}  
    </ul>
{{else}}
    <p> Sin Productos</p>
{{/if}}