<h2>{{encabezado}} </h2>

{{#if hayDocs}}
<ul>
  {{#each docs}}
  <li>title: {{this.title}}</li>
  <li>description: {{this.description}}</li>
  <li>price: {{this.price}}</li>
  <li>thumbnail: {{this.thumbnail}}</li>
  <li>stock: {{this.stock}}</li>
  <li>code: {{this.code}}</li>
  <li>category: {{this.category}}</li>
  <li>status: {{this.status}}</li>
  <br>
  {{/each}}
</ul>
{{else}}
array vacio...
{{/if}}
<div class="containerBtn">
    <button id="btnAnterior">PAGINA ANTERIOR</button>
    <h5>Pagina <span id="pag"></span></h5>
    <button id="btnSiguiente">PAGINA SIGUIENTE</button>
</div>
